.search {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-top: 20px;
}

.input-group {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.input-group .input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid #ccc;
}

.blue {
  color: rgb(34, 34, 105);
  font-weight: bold;
}

.input-group label {
  color: rgb(34, 34, 105);
  font-weight: bold;
}

.select-group {
  
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}

.select-group select {
  padding: 7px;
  border-radius: 10px;
  border: 0.5px solid #ccc;
}

.select-group label {
  color: rgb(34, 34, 105);
  font-weight: bold;
}

.top {
  margin-top: 20px;
}

.historic{
  width: 300px !important;
  margin: auto;
}

.historic div {
  margin-top: 20px;
}

.historic div input {
  border-radius: 20px;
}