.heading-blue{
    background-color: rgb(34, 34, 105);
    
    border-radius: 10px;
    padding: 0 20px 0 20px;
    
}

.heading-blue h3 {
    color: #fff;
    font-size: 20px;
    padding-top: 5px;
    font-weight: 300;
}

.section-title{
    color: rgb(34, 34, 105);
    
}


.suboption-odd{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.suboption a, .suboption-odd a {

    text-decoration: none;
    color: rgb(58, 58, 58);
    min-width: 100px;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
}

.suboption .active, .red{
    color: red !important;
    font-weight: bold !important;
}
.custom-form{
    
    margin: 0 auto;
}

.custom-form .form-check{
    padding-left: 0.5rem;
}

.custom-form .list-group-item {
    border: 0px;
    border-bottom: 2px solid rgb(34, 34, 105);
    border-radius: 0px;
}

.custom-form .list-group{
    border-radius: 0px;
}

.custom-form input[type=radio] {
    border: 0px;
    width: 19px;
    height: 14px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.select-group {
    //width: 100%;
    
    margin: auto;
    //margin-top: 20px;
}
  
.select-group select {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #aeaeae;
    background-color: #f2f2f2;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='32' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 3px;
    
}

.select-type-2{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #aeaeae;
    background-color: #f2f2f2;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-form label:not(.custom-control-label), .custom-control-label.bold-blue{
    color: rgb(34, 34, 105);
    font-weight: bold;
}

.custom-form input[type="text"], .custom-form input[type="date"]{
    border-radius: 10px;

    border: 1px solid #aeaeae;
    background-color: #f2f2f2;
}

.custom-form .required::before{
    content: "*";
    color:rgb(58, 58, 58);
    width: 0.5em;
    top: 30px;
    right: 15px;
    position: relative;
    
}

.custom-primary-button{
    background-color: red;
    border-radius: 10px;
    padding: 8px 28px;
    color: #fff;
    border: 0
}

.custom-secondary-button{
    text-align: center;
    background-color:  rgb(34, 34, 105);
    border-radius: 10px;
    padding: 7px 18px;
    color: #fff;
    border: 0
}
#actualizar-button img{
    margin-top: -4px;
    margin-right: -8px;
}
.custom-secondary-button.right-arrow img{
    width: 24px;
    position: relative;
}
.custom-table .blue-head{
    text-align: center;
    background: rgb(34, 34, 105);
    color: #fff;
}
.custom-table td {
    
    vertical-align: middle;

}

.custom-table .blue-head tr th:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.custom-table .blue-head tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-table>:not(:first-child) {
    border-top: none !important;
}

.custom-table tbody tr{
    border-bottom: 1px solid #aeaeae;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0 !important;
}

.arrow-icon{
    padding: 0px 10px;
    ;
}

.arrow-icon img{
    width: 18px;
}

.seniat-list-label{
    width: 200px;
}

.custom-form a{
    text-decoration: none;
    color:rgb(34, 34, 105);
}

.custom-card-blue{
    border: 2px solid rgb(34, 34, 105) !important;
    background-color: #aeaeae !important;
}

.submenu-item{
    width: 20%;
}


@media (max-width: 978px){
    .submenu-item{
        min-width: 140px;
        padding: 10px 0 10px 0;
    }
}



@media (max-width: 767px){
    .col-form-label{
        text-align: left;
    }

    .pt-xs-3{
        padding-top: 1rem!important;
    }
}



@media (min-width : 576px){
    .col-form-label {
        text-align: right;
    }

    .pt-xs-3{
        padding-top: 1rem!important;
    }
}
