
.table-mv{
    margin-top: 20px;
}

.title{
    color: rgb(34, 34, 105);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px !important;
}

.container, .container2{
    width: 100%;
    color: #fff !important;
    background-color: rgb(34, 34, 105) !important;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.container div{
    min-width: 150px;
    max-width: 150px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.container2 div{
    min-width: 120px;
    max-width: 120px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.container div p, .container2 div p{
    margin-top: 10px;
}

.col{
    padding: 17px;
}
.tbody tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.tbody tr td{
    min-width: 200px;
    max-width: 200px;
    align-items: center;
    text-align: center;
    margin: auto;
}

@media (min-width: 1300px){
    .tbody tr td{
        min-width: 240px;
        max-width: 240px;
    }
}

.tbody2 tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.tbody2 tr td{
    min-width: 135px;
    max-width: 135px;
    align-items: center;
    text-align: center;
    margin: auto;
}

@media (min-width: 1300px){
    .tbody2 tr td{
        min-width: 190px;
        max-width: 190px;
    }
}