.footer{
    width: 100%;
    margin-top: 20%;
    border-top: 2px solid rgb(235, 235, 235);
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.footer img{
    width: 500px;
    height: 100px;
    object-fit: cover;
}

.red{
    color: red;
    font-weight: bold;
}

@media (max-width: 500px){
    .footer img{
        width: 300px;
        height: 100px;
        object-fit: cover;
    }
}