header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

header img{
    width: 200px;
    object-fit: cover;
}

.blue-rectangle{
    width: 100%;
    height: 30px;
    background-color: rgb(34, 34, 105);
    color: rgb(34, 34, 105);
    z-index: -1;
    position: relative;
    top: 65px;
}

.info_client{
    display: flex;
    flex-direction: column;
}

h4{
    color: rgb(97, 97, 97) !important;
}

.info_client .client_name{
    font-size: 14px;
    color: rgb(97, 97, 97) !important;
    text-align: right;
}

.info_client .date{
    font-size: 12px;
    color: rgb(97, 97, 97) !important;
    text-align: right;

}

.logout{
    color: red !important;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
}

.padding{
    padding: 0 20px 0 20px;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 20;
}

nav ul a{
    max-width: 300px;
    text-decoration: none;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
}

nav ul a{
    padding: 18px 5px 18px 5px;
    transition: .3s all ease;
}

/* nav ul a:hover{
    background-color: #363636;
    transition: .3s all ease;
} */

.selected{
    background-color: #363636 !important;
}

.dropdown{
    min-width: 130px !important;
}

.dropdown-item{
    color: #000 !important;
}

.dropdown-menu{
    min-width: 120px !important;
    background-color: rgb(235, 235, 235) !important;
    border-radius: 5px !important;
    border: none !important;
    margin-top: 20px !important;
}

#navbarDropdown.nav-link.dropdown-toggle::after{
    display: none !important;
}

.img-menu{
    display: none;
}

.drop {
    min-width: 120px !important;
    background-color: rgb(235, 235, 235) !important;
    border-radius: 5px !important;
    border: none !important;
    margin-top: 20px !important;
    z-index: 9999999;
}

.drop-hidden {
    display: none;
}


@media (max-width: 1110px){
    ul li a{
        display: none !important;
    }

    i {
        color: #fff !important;
        font-size: 30px !important;
        cursor: pointer
    }

    .img-menu{
        display: block;
    }

    .img-menu a img {
        width: 20px !important;
    }
}

@media (max-width: 500px){
    header img{
        width: 150px;
        object-fit: contain;
    }

    h4{
        text-align: right;
        font-size: 18px !important;
    }
}