.logo {
  width: 250px;
  margin: auto;
}

.component-login {
  width: 320px;
  height: 320px;
  background-color: #ccc;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.component-login div{
    width: 100%;
    margin: auto;
    color: #000;
    font-weight: 400;
    text-align: center;
}

.component-login div span{
    font-size: 12px;
}

.component-login div a{
    font-size: 14px;
    color: #000;
}

form {
  width: 280px;
  height: 320px;
  background-color: rgb(240, 240, 240);
  margin: auto;
  border-radius: 20px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

form div {
  margin-top: 20px;
}

form input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px !important;
}

.links a {
  color: #000;
  text-align: center;
  margin-left: 10px;
  font-size: 12px;
}

.btn-login{
    width: 60%;
    margin: auto;
    background-color: red;
    color: #fff !important;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: center;
    border: none;
    text-decoration: none;
}

.reset span{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

input::placeholder{
  text-align: center;
}

.red{
  color: red;
}

.info{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

footer{
  border-top: 2px solid rgb(235, 235, 235);
  text-align: center;
  margin-top: 60px;
  font-family: cursive;
  font-weight: bold;
  padding-top: 20px;
}
