* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 3px solid red;
}

header .gob {
  width: 400px;
  padding-left: 50px;
}

header .logo {
  width: 200px;
  padding-left: 50px;
}

.header-nav {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav nav {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #767676;
  color: #f1f2f7;
}

.header-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-nav li {
  width: 120px;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  padding: 0px 20px 0px 20px;
  transition: 0.3s all ease;
}

.header-nav ul:hover {
  background-color: #4e4e4e;
  transition: 0.3s all ease;
}

article img {
  width: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer div {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer div img {
  width: 100px;
  margin: auto;
}

footer div p {
  text-align: center;
  margin-top: 20px;
}

.header-nav .nav-responsive {
  display: none;
}

.component-login {
  width: 320px;
  height: 250px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  margin-right: 120px;
  margin-top: 100px;
  border-radius: 20px;
}

form {
  width: 280px;
  height: 280px;
  background-color: rgb(240, 240, 240);
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: -50px;
  border-radius: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div img {
  width: 150px;
  object-fit: cover;
}

form div a {
  width: 80%;
  height: 30px;
  margin: auto;
  background-color: red;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s all ease;
  text-decoration: none;
  text-align: center;
  padding-top: 5px !important;
}

form div a:hover {
  background-color: rgb(184, 20, 20);
}

@media (max-width: 1065px) {
  .header-nav nav {
    width: auto;
  }

  .header-nav .nav {
    display: none;
  }

  .header-nav .nav-responsive {
    width: 80px;
    display: block;
  }

  header .gob {
    padding-left: 0px;
  }

  header .logo {
    padding-left: 0px;
  }

  article img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  header .gob {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .component-login {
    width: 500px;
    margin-right: 0;
    margin-left: -250px;
    left: 50%;
  }

  form {
    width: 500px;
    margin-right: 0;
    margin-left: -250px;
    left: 50%;
  }
}

@media (max-width: 600px) {
  .component-login {
    position: relative;
    width: 100%;
    margin: auto;
    margin-right: 0;
    left: 0;
    margin-top: 50px;
  }

  form {
    position: relative;
    width: 100%;
    margin: auto;
    margin-right: 0;
    left: 0;
  }
}
