.table-container{
    min-width: 100% !important;
    overflow: auto;
}

.table-mv{
    width: 100% !important;
    margin-top: 20px;
    border-radius: 10px !important;
}

.table-mv tr {
    text-align: center !important;
}

.thead{
    width: 100% !important;
    color: #fff !important;
    background-color: rgb(34, 34, 105) !important; 
    margin-top: 10px;
}


.thead tr th{
    font-size: 14px;
    text-align: center !important;
    background-color: rgb(34, 34, 105) !important;
}

.thead tr th p{
    margin-top: 10px;
}

.thead tr th:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.thead tr th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tbody tr td {
    min-width: 120px !important;
    margin-top: 10px;
    text-align: center !important;
}

.tbody tr td p{
    margin-top: 10px;
    text-align: center !important;
}

@media (max-width: 978px) {

    .tbody {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
        margin: auto;
    }

    .thead tr th{
        min-width: 200px !important;
    }
}