.layout{
    width: 100%;
    //height: 80vh;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.menu{
    width: 20%;
    height: 40vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-top: 8px;
    border-radius: 5px;
}

.resumen{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    margin-top: 50px !important;
    margin: auto;
}

.menu ul{
    padding: 0px;
    margin-top: 20px;
}


.menu ul li{
    width: 100%;
    list-style: none;
    cursor: pointer;
    transition: .4s all ease-in-out;

}

.red{
    color: red;
    font-weight: bold;
}

#ocult_submenu{
    display: none;
}

.heading{
    width: 100%;
    background-color: red;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.heading h3{
    color: #fff;
    font-size: 20px;
    padding-top: 5px;
}

.center{
    text-align: center;
}

.padding{
    padding: 0px 20px 0px 20px;
}

.gray{
    background-color: rgb(233, 233, 233);
}

li{
    list-style: none;
    cursor: pointer;
}

footer{
    border-top: 2px solid rgb(235, 235, 235);
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
    font-weight: bold;
}

#accordion{
    margin-top: 5px;
}

.top{
    margin-top: 50px;
}

@media (max-width: 1062px) {
    .resumen {
        width: 90%;
    }
}