.card-header{
    border: none !important;
}

a{
    text-decoration: none !important;
    color: rgb(58, 58, 58) !important;
}

.red{
    color: red !important;
    font-weight: bold !important;
}

li{
    list-style: none;
    cursor: pointer;
}

#accordion{
    min-width: 200px;
}

.option{
    transition: .3s all ease-in-out;
    padding: 5px;
}

.option:hover{
    background-color: rgb(214, 214, 214);
    transition: .3s all ease-in-out;
    border-radius: 5px;
}

.suboption{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    overflow: auto;
}

.suboption a {
    text-decoration: none;
    color: #000;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
}

@media (max-width: 978px){
    .suboption a {
        min-width: 250px;
        padding: 10px 0 10px 0;
    }
}