.information{
    margin-top: 15px;
}

.table-mv{
    margin-top: 20px;
}

.title{
    color: rgb(34, 34, 105);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px !important;
}

.container{
    width: 100%;
    color: #fff !important;
    background-color: rgb(34, 34, 105) !important;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.container div{
    min-width: 138px;
    max-width: 138px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.container div p{
    margin-top: 10px;
}

.col{
    padding: 17px;
}
.tbody tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.tbody tr td{
    min-width: 140px;
    max-width: 140px;
    align-items: center;
    text-align: center;
    margin: auto;
}

@media (min-width: 1300px){
    .tbody tr td{
        min-width: 190px;
        max-width: 190px;
    }
}

.card-header{
    border: none !important;
}

a{
    text-decoration: none !important;
    color: rgb(58, 58, 58) !important;
}

.red{
    color: red !important;
    font-weight: bold !important;
}

li{
    list-style: none;
    cursor: pointer;
}

#accordion{
    min-width: 200px;
}

.option{
    transition: .3s all ease-in-out;
    padding: 5px;
}

.option:hover{
    background-color: rgb(214, 214, 214);
    transition: .3s all ease-in-out;
    border-radius: 5px;
}

.suboption{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.suboption a {
    width: 100px;
    text-decoration: none;
    color: rgb(112, 112, 112);
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
}

.selector{
    width: 300px;
    margin: auto
}

.selector label{
    color: rgb(34, 34, 105);
    font-weight: bold;
}

.selector select{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.selector input{
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    border: .5px solid #ccc;
}

.transferencia{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

