/*!
 * Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
 */
@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Bold.otf") format("otf"), url("../webfonts/MyriadPro-Bold.otf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Boldlt.otf") format("otf"), url("../webfonts/MyriadPro-Boldlt.otf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Cond.otf") format("otf"), url("../webfonts/MyriadPro-Cond.otf") format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-It.otf") format("otf"), url("../webfonts/MyriadPro-It.otf") format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Light.otf") format("otf"), url("../webfonts/MyriadPro-Light.otf") format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Regular.otf") format("otf"), url("../webfonts/MyriadPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-Semibold.otf") format("otf"), url("../webfonts/MyriadPro-Semibold.otf") format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  font-display: block;
  src: url("../webfonts/MyriadPro-SemiboldIt.otf") format("otf"), url("../webfonts/MyriadPro-SemiboldIt.otf") format("truetype");
}