<script>
    const creditos = document.getElementById('creditos');
    const avance = document.getElementById('avance');
    const filter = window.location.pathname.split("/")[2];

    fetch("http://localhost:3000/data/creditos.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
                creditos.innerHTML += `
                <tr>
                    <td>
                        <p>Bs ${data.data.info_credito.monto_financiado}</p>
                    </td>
                    <td>
                        <p>Bs ${data.data.info_credito.saldo_interes}</p>
                    </td>
                    <td>
                        <p>${data.data.info_credito.mora}</p>
                    </td>
                    <td>
                        <p>${data.data.info_credito.deducciones}</p>
                    </td>
                </tr>
                `
                avance.innerHTML += `
                <tr>
                    <td>
                        <p>Bs ${data.data.info_avance.monto_pendiente}</p>
                    </td>
                    <td>
                        <p>Bs ${data.data.info_avance.proximo_pago}</p>
                    </td>
                    <td>
                        <p>${data.data.info_avance.fecha_siguiente}</p>
                    </td>
                    <td>
                        <p>${data.data.info_avance.ultima_fecha}</p>
                    </td>
                    <td>
                        <p>${data.data.info_avance.fecha_vencimiento}</p>
                    </td>
                    <td>
                        <p>${data.data.info_avance.tasa}</p>
                    </td>
                </tr>
                `
        });
</script>

<div class="structure">
    <div class="container">
        <div>
            <p>MONTO FINANCIADO</p>
        </div>
        <div>
            <p>SALDO DEL INTERÉS</p>
        </div>
        <div>
            <p>MORA</p>
        </div>
        <div>
            <p>DEDUCCIONES</p>
        </div>
    </div>
    <table class="table-mv">
        <tbody id="creditos" class="tbody">
    
        </tbody>
    </table>
</div>

<div class="structure">
    <div class="container2">
        <div>
            <p>MONTO TOTAL PENDIENTE</p>
        </div>
        <div>
            <p>PRÓXIMO PAGO</p>
        </div>
        <div>
            <p>FECHA DE PRÓXIMO PAGO</p>
        </div>
        <div>
            <p>FECHA DE ÚLTIMO PAGO</p>
        </div>
        <div>
            <p>FECHA DE VENCIMIENTO</p>
        </div>
        <div>
            <p>TASA</p>
        </div>
    </div>
    <table class="table-mv">
        <tbody id="avance" class="tbody2">
    
        </tbody>
    </table>
</div>