<script>
    const deferred = document.getElementById('deferred');
    const blocked = document.getElementById('blocked');
    const filter = window.location.pathname.split("/")[2];

    fetch("http://localhost:3000/data/diferidos_bloqueados.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
            data.info.deferred.map((mov => {
                deferred.innerHTML += `
                <tr>
                    <td>
                        <p>${mov.description}</p>
                    </td>
                    <td>
                        <p>${mov.date_process}</p>
                    </td>
                    <td>
                        <p>${mov.date_end}</p>
                    </td>
                    <td>
                        <p>${mov.days}</p>
                    </td>
                    <td>
                        <p>Bs ${mov.amount}</p>
                    </td>
                </tr>
                `
            }))
            data.info.blocked.map((mov => {
                blocked.innerHTML += `
                <tr>
                    <td>
                        <p>${mov.description}</p>
                    </td>
                    <td>
                        <p>${mov.date_process}</p>
                    </td>
                    <td>
                        <p>${mov.date_end}</p>
                    </td>
                    <td>
                        <p>${mov.days}</p>
                    </td>
                    <td>
                        <p>Bs ${mov.amount}</p>
                    </td>
                </tr>
                `
            }))
        });
</script>
<p class="title">DIFERIDOS</p>

<div class="table-container">
    <table class="table-mv">
        <div class="contenedor-thead">
            <thead class="thead">
                <tr>
                    <th>
                        <p>DESCRIPCIÓN</p>
                    </th>
                    <th>
                        <p>FECHA DE PROCESO</p>
                    </th>
                    <th>
                        <p>FECHA DE VENCIMIENTO</p>
                    </th>
                    <th>
                        <p>NÚMERO DE DÍAS</p>
                    </th>
                    <th>
                        <p>MONTO</p>
                    </th>
                </tr>
            </thead>
        </div>
        <tbody id="deferred" class="tbody">
    
        </tbody>
    </table>
</div>

<p class="title">BLOQUEADOS</p>

<div class="table-container">
    <table class="table-mv">
        <div class="contenedor-thead">
            <thead class="thead">
                <tr>
                    <th>
                        <p>DESCRIPCIÓN</p>
                    </th>
                    <th>
                        <p>FECHA DE PROCESO</p>
                    </th>
                    <th>
                        <p>FECHA DE VENCIMIENTO</p>
                    </th>
                    <th>
                        <p>NÚMERO DE DÍAS</p>
                    </th>
                    <th>
                        <p>MONTO</p>
                    </th>
                </tr>
            </thead>
        </div>
        <tbody id="blocked" class="tbody">
    
        </tbody>
    </table>
</div>