<script>
    let indicator_id = 1;
    let indicator_id_sub = 1;
    let menu_options = [];
    const options = document.getElementById('options');
    const options_responsive = document.getElementById('options_responsive');
    const suboptions = document.getElementById('dropdown-menu');
    const url = window.location.pathname.split("/")[4];
    const url_intern = window.location.pathname.split("/")[3];

    if (url === 'resumen.jsp' ||
        url === 'cuentas.jsp' ||
        url === 'fideicomiso.jsp' ||
        url === 'tarjeta_alimentacion.jsp' ||
        url === 'dia.jsp' ||
        url === 'creditos.jsp' ||
        url === 'dia_anterior.jsp' ||
        url === 'movimientos_del_mes.jsp' ||
        url === 'movimientos_del_mes_anterior.jsp' ||
        url === 'busqueda_de_movimientos.jsp' ||
        url === 'diferidos_bloqueados.jsp' ||
        url === 'historico_estado_cuenta.jsp' ||
        url === 'transferencia_fondos.jsp'
    ) {
        indicator_id = 1;
    } else if (url === 'transferencias.jsp' || url==='otros_bancos.jsp') {
        indicator_id = 2
    } else if (url === 'pagos.jsp') {
        indicator_id = 3
    } else if (url === 'tarjetas_de_credito.jsp') {
        indicator_id = 4
    } else if (url === 'divisas.jsp') {
        indicator_id = 5
    } else if (url === 'impuestos_recaudaciones.jsp') {
        indicator_id = 6
    } else if (url === 'autogestion.jsp') {
        indicator_id = 7
    }
    if (url === 'resumen.jsp' || url_intern === "resumen.jsp"
    ) {
        indicator_id_sub = 1;
    } else if (
        url === 'cuentas.jsp' ||
        url === 'dia.jsp' ||
        url === 'dia_anterior.jsp' ||
        url === 'movimientos_del_mes.jsp' ||
        url === 'movimientos_del_mes_anterior.jsp' ||
        url === 'busqueda_de_movimientos.jsp' ||
        url === 'diferidos_bloqueados.jsp' ||
        url === 'historico_estado_cuenta.jsp'
        
    ) {
        indicator_id_sub = 2
    } else if (url === 'creditos.jsp' || url_intern === "creditos.jsp") {
        indicator_id_sub = 3
    } else if (url === 'fideicomiso.jsp' || url_intern === "fideicomiso.jsp") {
        indicator_id_sub = 4
    } else if (url === 'tarjeta_alimentacion.jsp' ||
        url_intern === "tarjeta_alimentacion.jsp" ||
        url === 'transferencia_fondos.jsp' ||
        url_intern === "transferencia_fondos.jsp") {
        indicator_id_sub = 5
    }
    console.log("indicator_id:"+indicator_id)
    console.log("indicator_id_sub"+indicator_id_sub)

    const operacion = (option) => option.options.map((sub) => `<a class="dropdown-item ${parseInt(sub.id) === indicator_id_sub && "red"}" href="${sub.route}">${sub.name}</a>`).flat().join('')

    fetch("http://localhost:3000/data/menu_options.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
            data.menu_options.map((option) => {
                options_responsive.innerHTML += `
                <a class="dropdown-item" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    ${option.name}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        ${operacion(option)}
                    </div>
                </div>
            `
            })
        });

    fetch("http://localhost:3000/data/menu_options.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
            menu_options = data.menu_options
            data.menu_options.map((option) => {
                options.innerHTML += `
                        <ul class="navbar-nav mr-auto">
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ${option.name}
                                </a>
                                <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
                                    ${operacion(option)}
                                </div>
                            </li>
                        </ul>
                    `

            })
        });

    
</script>

<header>
    <img class="logo" src="http://localhost:3000/assets/logo_login.png" alt="Banco Del Tesoro">
    <div class="info_client">
        <h4>PERSONA NATURAL</h4>
        <p class="client_name">Bienvenido(a) Nombre y Apellido</p>
        <p class="date">Fecha y hora de conexión</p>
        <a href="http://localhost:3000/index.jsp" class="logout">Salir</a>
    </div>
</header>
<div class="blue-rectangle">1</div>

<div class="padding">
    <nav class="nav" id="options">
        <div class="dropdown img-menu">
            <a class="btn btn-secondary dropdown-toggle" role="button"
                data-toggle="dropdown">
                <img src="http://localhost:3000/assets/bars.svg" alt="">
            </a>

            <div class="dropdown-menu" id="options_responsive">

            </div>
        </div>
    </nav>

</div>