<script>
    const information = document.getElementById('information');
    const filter = window.location.pathname.split("/")[4];
    fetch("http://localhost:3000/data/movimientos.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
            data.movimientos.map((mov => {
                if (filter === mov.label) {
                    information.innerHTML += `
                <tr>
                    <td>
                        <p>${mov.date}</p>
                    </td>
                    <td>
                        <p>${mov.description}</p>
                    </td>
                    <td>
                        <p>${mov.reference}</p>
                    </td>
                    <td>
                        <p>Bs ${mov.cargo}</p>
                    </td>
                    <td>
                        <p>Bs ${mov.abono}</p>
                    </td>
                    <td>
                        <p>Bs ${mov.amount}</p>
                    </td>
                </tr>
                `
                }
            }))
        });
</script>

<div class="table-container">
    <table class="table-mv">
        <div class="contenedor-thead">
            <thead class="thead">
                <tr>
                    <th>
                        <p>FECHA</p>
                    </th>
                    <th>
                        <p>DESCRIPCIÓN</p>
                    </th>
                    <th>
                        <p>REFERENCIA</p>
                    </th>
                    <th>
                        <p>CARGO</p>
                    </th>
                    <th>
                        <p>ABONO</p>
                    </th>
                    <th>
                        <p>MONTO</p>
                    </th>
                </tr>
            </thead>
        </div>
        <tbody id="information">

        </tbody>
    </table>
</div>