<script>
    let indicator_id2 = 1;
    const suboptions2 = document.getElementById('accordion');
    const horizontal_menu = document.getElementById('horizontal_menu');
    const url2 = window.location.pathname.split("/")[4];

    

    if (url2 === 'dia.jsp' || url2 === 'cuentas.jsp') {
        indicator_id2 = 1;
    } else if (url2 === 'dia_anterior.jsp') {
        indicator_id2 = 2
    } else if (url2 === 'movimientos_del_mes.jsp') {
        indicator_id2 = 3
    } else if (url2 === 'movimientos_del_mes_anterior.jsp') {
        indicator_id2 = 4
    } else if (url2 === 'busqueda_de_movimientos.jsp') {
        indicator_id2 = 5
    } else if (url2 === 'diferidos_bloqueados.jsp') {
        indicator_id2 = 6
    } else if (url2 === 'historico_estado_cuenta.jsp') {
        indicator_id2 = 7
    }

    console.log("url:"+url2);
    console.log("indicator_id2:"+indicator_id2);
    
    function onChangeOptionMenu(id) {
        localStorage.setItem('selected_option', id)

        setTimeout(() => {
            window.location.reload()
        }, 1000);
    }


    fetch("http://localhost:3000/data/menu_options.json")
        .then(response => {
            return response.json();
        })
        .then(data => {
            data.menu_options.map((option) => {
                option.options.map(sub => {
                    if (sub.sub_options) {
                        sub.sub_options.map(suboption => {
                            horizontal_menu.innerHTML += `
                            <a href="${suboption.route}" class="${suboption.id === indicator_id2 && "red"}">${suboption.name}</a>
                    `
                        })
                    }
                })
            })
        });
</script>
<div class="suboption" id="horizontal_menu">

</div>